.details-movie-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
        width: fit-content;
    }
}

.details-movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-movie-body {
    display: flex;
    justify-content: space-between;
}

.left-header {
    display: flex;
    align-items: center;

    h2 {
        font-size: 3rem;

    }
}

.right-header {
    display: flex;
    gap: 1rem;
}

.quick-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.left-side-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    font-size: 1.3rem;

    h4 {
        font-weight: 500;
    }

    p {
        width: 90%;
    }

}

.right-side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    width: 50%;

    img {
        border-radius: 1rem;
        max-height: 37rem;
        max-width: 33rem;
    }

}

.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .details-movie-header {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;

        h2 {
            font-size: 2.5rem;
        }

        .right-header {
            scale: 70%;
        }
    }

    .details-movie-body {
        flex-direction: column-reverse;
        text-align: justify;
        align-content: center;

        .right-side-content,
        .right-side-content>img {
            width: 100%;
        }

        .left-side-content {
            margin-top: 2rem;
            width: 100%;
            max-width: 32rem;
            padding-bottom: 1rem;
            align-self: center;
        }
    }
}