.footer-container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: #290d3c;
}

.copyright-div,
.info-div,
.github-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.member-names {
  display: flex;
  gap: 1rem;
}

.member-links {
  color: var(--disabled-color);
  text-decoration: none;
  cursor: pointer;
}

.member-links:hover {
  color: var(--text-color);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
  }
  .copyright-div,
  .info-div,
  .github-div {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 430px) {
  .footer-container {
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .copyright-div,
  .info-div,
  .github-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.3rem;
  }
  .member-links {
    font-size: 0.9rem;
  }
}
