.movie-card{
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2.5rem 2rem;
    text-align: center;
    background-color: rgb(244, 227, 255, 0.05);
    font-family: var(--body-font);
    border-radius: 2rem;

    .movie-img{
        width: 15rem;
        height: 20rem;
        object-fit: cover;
        object-position: center;
    }
}