.header{
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background: linear-gradient(180deg, var(--text-color) 84%, var(--primary-color) 98%); */
    

    .nav-links{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 5rem;
        justify-content: space-between;
        a{
            text-decoration: none;

        }
    }
}