
.main-container {
    padding-top: 10rem;
}

/* global button styles */
.back-button-link {
    cursor: default;
}

.back-button {
    font-family: var(--body-font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.back-button:hover {
    color: #FFFF;
}

.primary-button {
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: var(--primary-color) solid .15rem;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--hover-color);
}

.delete-button {
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    border: solid .15rem var(--text-color);
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.delete-button:hover {
    color: #FFFF;
}