/* Body Font - Arimo */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&display=swap');

/* FONTS:

Headings{
      font-family: "Bebas Neue", sans-serif;

Body{
    font-family: "Arimo", sans-serif;
*/

/* 
Colors:
primary - #B035FF
hover - #9C10FF
active - #9000FF
disabled - #F4E3FF
background - #290D3C
text - #F9EFFF
 */

/* Responsive Design Breakpoints
 MOBILE FIRST APPROACH
tablets: width > 768px
desktop: width > 1024px

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

:root {
    --primary-color: #B035FF;
    --hover-color: #9C10FF;
    --active-color: #9000FF;
    --text-color: #F9EFFF;
    --disabled-color: #F4E3FF;
    --background-color: #190725;
    --headings-font: "Bebas Neue", sans-serif;
    --body-font: "Arimo", sans-serif;
}

#root {
    padding: 0 4rem;
    height: 100dvh;
    background-color: var(--background-color);
    height: 100%;
}


h1,
h2, h3 {
    font-family: "Bebas Neue", sans-serif;
}

p, a, input, label{
    font-family: var(--body-font);
    color: var(--text-color);
}
a{
    text-decoration: none;
}